services:
  postgres:
    image: postgres:latest
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: myPassWord
      POSTGRES_DB: videogameexchange
    volumes:
      - postgres_data:/var/lib/postgresql
  api1:
    build: .

  api2:
    build: .
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "8080:80"
    depends_on:
      - api1
      - api2


volumes:
  postgres_data:
